VITE_BASE_URL=/                                                                               # The base public path where the React.js application is deployed.  
VITE_API_BASE_URL=http://localhost:8000/api                                                   # API URL of the backend Django REST Framework server.
VITE_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png                          # The OpenStreetMap tile server template URL to be used by mapping libraries (like Leaflet) to fetch and render map background tiles.