DEBUG=True                                                                                                              # Turn off Django debug mode in production
SECRET_KEY=pathistics-secret-key-123456789	                                                                            # A long, random string
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0	                                                                            # Comma-separated list of backend domains
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://0.0.0.0:5173	                                # Comma-separated list of allowed origins
DATABASE_URL=postgres://pathistics:161208@localhost:5432/pathistics	                                                    # Connection string for the PostgreSQL database
OSRM_API_URL=https://router.project-osrm.org                                                                            # API URL of the OSRM (OpenStreetMap Routing Machine)